@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(.no-antialiased) {
  @apply antialiased;
}

.button {
  @apply
    inline-flex items-center
    px-2 py-1.5
    shadow-sm
    border border-stone-300 rounded-[4px]
    text-sm text-stone-950
    font-medium
    transition-colors
    hover:bg-stone-50
    disabled:shadow-none disabled:bg-stone-100 disabled:!text-stone-400
    active:shadow-none active:shadow-inner active:bg-stone-100/80;
}

.button-dark {
  @apply
    inline-flex items-center
    px-2 py-1.5
    shadow-sm
    rounded-[4px]
    bg-stone-950
    text-sm text-white
    font-medium
    transition-colors
    hover:bg-stone-800
    disabled:opacity-70;
}

.button-ghost {
  @apply
    inline-flex items-center
    px-2 py-1.5
    text-sm text-stone-950
    font-medium
    rounded-[4px]
    transition-colors
    hover:bg-stone-100;
}

a {
  @apply font-medium text-blue-700 hover:underline;
}

a[target="_blank"]:not(.no-after)::after {

  @apply ml-1 mr-0.5 h-3 w-3 bg-stone-500 inline-flex items-center;
  mask: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M%205%203%20C%203.9069372%203%203%203.9069372%203%205%20L%203%2019%20C%203%2020.093063%203.9069372%2021%205%2021%20L%2019%2021%20C%2020.093063%2021%2021%2020.093063%2021%2019%20L%2021%2012%20L%2019%2012%20L%2019%2019%20L%205%2019%20L%205%205%20L%2012%205%20L%2012%203%20L%205%203%20z%20M%2014%203%20L%2014%205%20L%2017.585938%205%20L%208.2929688%2014.292969%20L%209.7070312%2015.707031%20L%2019%206.4140625%20L%2019%2010%20L%2021%2010%20L%2021%203%20L%2014%203%20z%22%3E%20%3C%2Fpath%3E%20%3C%2Fsvg%3E');
  content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M%205%203%20C%203.9069372%203%203%203.9069372%203%205%20L%203%2019%20C%203%2020.093063%203.9069372%2021%205%2021%20L%2019%2021%20C%2020.093063%2021%2021%2020.093063%2021%2019%20L%2021%2012%20L%2019%2012%20L%2019%2019%20L%205%2019%20L%205%205%20L%2012%205%20L%2012%203%20L%205%203%20z%20M%2014%203%20L%2014%205%20L%2017.585938%205%20L%208.2929688%2014.292969%20L%209.7070312%2015.707031%20L%2019%206.4140625%20L%2019%2010%20L%2021%2010%20L%2021%203%20L%2014%203%20z%22%3E%20%3C%2Fpath%3E%20%3C%2Fsvg%3E');

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* html,
body,
#__nuxt {
  @apply w-full h-full;
} */
